.content-wrapper {
    display: grid;
    grid-template-columns: 50% 40%; /* División de 60% y 40% del ancho */
    grid-gap: 100px; /* Espacio entre los contenedores */
    border-radius: 24px;
    background-color: #fff; /* Fondo blanco */
    padding: 40px; /* Padding para separar del borde del content-wrapper */
    margin: 40px; /* Márgenes */
    height: 85vh; /* Altura del 92% de la ventana del navegador */
    overflow: auto; /* Agregar desplazamiento si el contenido excede la altura */
  }
  
.container-left,
.container-right {
    border-radius: 8px;
    background-color: lightblue; /* Color de fondo para ambos contenedores */
    padding: 25px; /* Padding para separar el contenido del borde */
  }
  
.container-left {
    grid-column: 1; /* Primer columna */
    height: auto; /* Ocupa toda la altura del content-wrapper */
    padding: 85px;
  }
  
.container-right {
    grid-column: 2; /* Segunda columna */
    height: auto; /* Ocupa toda la altura del content-wrapper */
    padding: 85px;
  }

.form-search {
    display: flex;
    gap: 10px;
  }
  
.input-search[type="text"] {
    flex: 1; /* El campo de entrada se expandirá para llenar el espacio disponible */
    padding: 8px;
    border-radius: 8px;
    border: 3px solid #FFA500;
    height: 40px;
    font-size: 20px; /* Tamaño de fuente del placeholder */
    text-align: center;
    margin-right: 10px; /* Separación del borde derecho */
    transition: border-color 0.3s, color 0.3s;
  }

.input-search[type="text"]:focus,
.input-search[type="text"]:hover {
    border-color:#ff7b00; /* Cambio de color del borde al pasar el mouse sobre el input */
}

.input-search[type="text"]::placeholder {
    opacity: 2; /* Opacidad inicial del placeholder */
    transition: opacity 0.3s;
}
  
.input-search[type="text"]:focus::placeholder {
    opacity: 0; /* Opacidad del placeholder cuando el input está seleccionado */
}

.button-search {
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 8px;
    border: none;
    background-color: #FFA500;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
.button-search:hover {
    background-color: #ff7b00;
}